@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  padding: 0;
}

button:focus {
  outline: none;
}
